*{
    margin: 0;
    padding: 0;
}

.para1{
    border-color: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 4px;
    width: 380px;
    margin: 20px ;
    display: inline-block;
    padding: 10px;
    background-color: #f0f0f0;
    color: blueviolet;
}


.para2{
    border-color: brown;
    border-style: solid;
    display: inline-block;
    border-width: 5px;
    border-radius: 4px;
   margin: 20px;
   padding: 10px;
   width:380px;
   display: inline-block;
}
.para3{
    border-color: green;
    border-style: solid;
    display: inline-block;
    border-width: 5px;
    border-radius: 4px;
    margin: 20px;
    padding: 10px;
    width: 380px;
    cursor:pointer;
}

.para2:hover{
    background-color: #b91d1d6e;
    color: rgb(6, 245, 50);
}
.para3:hover{
    background-color: #de0a5e;
    color: rgb(43, 226, 165);
}

.para1:hover{
    background-color: #de0a5e;
    color: rgb(43, 226, 165);
}

